<div class=footy>
<!-- Footer -->
<footer class="footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase"><strong>Article World</strong></h5>
        <p>Learn to Earn instead of Knowledge :p</p>

      </div>


      <hr>

      <div class="col-2">


    <%= link_to "Articles",articles_path,class:"text-uppercase fot-item" %>

      </div>

      </div>
      <!-- Grid column -->

    </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-muted">© 2020 Copyright:
    <a href="#"> Comingsoon.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
